legacy-peer-deps=true
ignore-scripts=false
strict-peer-dependencies=false
prefer-offline=true
optional=false
auto-install-peers=true
node-linker=hoisted
python=python3
shamefully-hoist=true
node-platform=linux
node-arch=x64
target_arch=x64
target_platform=linux
target_libc=musl